body{
    margin: 0;
    padding: 0;
    background: #1b1b1b;
}

.btn_home{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.btn_user{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.btn_globo{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.btn_marc{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

button{
    animation: btn 4s;
    background: transparent;
    border-style: solid;
    width: 100px;
    height: 100px;
    font-family: verdana;
    border-radius: 100vmax;
    transition: 1s;
}

.btn_home>button{
    border-color: #63B5DB;
    background-color: #68C0E8;
}

.btn_user>button{
    border-color: #e86868;
    background-color: #e86868;
}

.btn_globo>button{
    border-color: #63db8f;
    background-color: #63db8f;
}

.btn_marc>button{
    border-color: #e8e468;
    background-color: #e8e468;
}

.btn_home>button:hover{
    cursor: pointer;
    box-shadow: 0 2px 20px 0 #63B5DB, 0 5px 40px 0 #68C0E8;
    transform: rotate(-360deg);
    transition: 2s;
}

.btn_user>button:hover{
    cursor: pointer;
    box-shadow: 0 2px 20px 0 #e86868, 0 5px 40px 0 #e86868;
    transform: rotate(360deg);
    transition: 2s;
}

.btn_marc>button:hover{
    cursor: pointer;
    box-shadow: 0 2px 20px 0 #e8e468, 0 5px 40px 0 #e8e468;
    transform: rotate(-360deg);
    transition: 2s;
}

.btn_globo>button:hover{
    cursor: pointer;
    box-shadow: 0 2px 20px 0 #63db8f, 0 5px 40px 0 #63db8f;
    transform: rotate(360deg);
    transition: 2s;
}
